<div class="story-wrapper cf">
    {% block title %}{% endblock %}
    <div class="story">
        <a href="#" target="_blank">
            <div class="story-inner">
                <div class="title">Saunders: the Next Jordan?</div>
            </div>
        </a>
    </div>
</div>
